* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.wrapper {
 margin: auto;
 width: 1440px   
    
}

main {
  min-height: auto; 
     
}

