.categ_text {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: start;
    margin: 20px 0;
}

.category_block {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.category_button {
    border: 2px solid #8B8B8B;
    width: 108px;
    height: 26px;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #8B8B8B;
    background-color: #fff;
    margin: 35.48px 0 0 0;
    padding: 5px 0;
}